<%= form_with(model: search_channel, url: channels_path, method: :get, class: 'search') do |form| %>
  <div class="container box_radius">
    <div class="row">
      <div class="col-12">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="row">
          <%= form.label :subscriber_count %>
          <div class="col-5">
            <%= form.number_field :subscriber_count_from, class: 'form-control', min: 0 %>
          </div>
          <div class="col-2 text-center">～</div>
          <div class="col-5">
            <%= form.number_field :subscriber_count_to, class: 'form-control', min: 0 %>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <%= form.label :published_at %>
          <div class="col-5">
            <div class="input-group date-picker" data-wrap="true">
              <%= form.text_field :from_date, class: 'form-control', data: {input: true} %>
              <div class="input-group-text fa-icon" data-clear>
                <span class="fa fa-times"></span>
              </div>
            </div>
          </div>
          <div class="col-2 text-center">～</div>
          <div class="col-5">
            <div class="input-group date-picker" data-wrap="true">
              <%= form.text_field :to_date, class: 'form-control', data: {input: true} %>
              <div class="input-group-text fa-icon" data-clear>
                <span class="fa fa-times"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="row">
          <%= form.label :view_count %>
          <div class="col-5">
            <%= form.number_field :view_count_from, class: 'form-control', min: 0 %>
          </div>
          <div class="col-2 text-center">～</div>
          <div class="col-5">
            <%= form.number_field :view_count_to, class: 'form-control', min: 0 %>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <%= form.label :video_count %>
          <div class="col-5">
            <%= form.number_field :video_count_from, class: 'form-control', min: 0 %>
          </div>
          <div class="col-2 text-center">～</div>
          <div class="col-5">
            <%= form.number_field :video_count_to, class: 'form-control', min: 0 %>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6 col-md-3">
        <%= form.label :per %>
        <%= form.select :per, Channel::PER_LIST, {}, class: 'form-control form-select' %>
      </div>
      <div class="col-6 col-md-3">
        <%= form.label :disabled %>
        <%= form.select :disabled, Search::Channel.disabled_options, {}, class: 'form-control form-select' %>
      </div>
    </div>
    <div class="text-end">
      <%= button_tag t('helpers.button.reset'),
                     type: :button, id: 'reset-search', class: 'btn btn-secondary' %>
      <%= form.submit t('helpers.submit.search'), class: 'btn btn-success', name: nil %>
    </div>
  </div>
<% end %>
