<% if channels.present? %>
  <table class='table table-bordered table-hover table-striped'>
    <thead>
    <tr>
      <th class="col-xs-3 col-sm-1"></th>
      <th class="col-xs-6 col-sm-3">
        <%= sortable Channel.human_attribute_name(:title), 'title', remote: true %>
      </th>
      <th class="hidden-xs col-sm-2">
        <%= sortable Channel.human_attribute_name(:published_at), 'published_at', remote: true %>
      </th>
      <th class="col-xs-3 col-sm-2">
        <%= sortable ChannelStatistic.human_attribute_name(:subscriber_count), 'subscriber_count', remote: true %>
      </th>
      <th class="hidden-xs col-sm-2">
        <%= sortable ChannelStatistic.human_attribute_name(:view_count), 'view_count', remote: true %>
      </th>
      <th class="hidden-xs col-sm-2">
        <%= sortable ChannelStatistic.human_attribute_name(:video_count), 'video_count', remote: true %>
      </th>
      <th class="visible-lg visible-md">
        <%= sortable ChannelStatistic.human_attribute_name(:created_at), 'latest_acquired_at', remote: true %>
      </th>
    </tr>
    </thead>

    <tbody>
    <% channels.each do |c| %>
      <tr>
        <td>
          <% if c.thumbnail_url.present? %>
            <%= link_to(image_tag(c.thumbnail_url), channel_path(c, take_params)) %>
          <% end %>
        </td>
        <td>
          <% if c.disabled? %>
            <span data-toggle="tooltip" title="<%= t('helpers.notice.channel_disabled') %>">⚠️</span>
          <% end %>
          <%= print_link(c.title, channel_path(c, take_params), t('text.channel.title.missing')) %>
          <div>
            <% c.tag_list.each do |tag| %>
              <%= link_to(tag, channels_path(search_channel: {tag: tag}), class: 'badge badge-primary', remote: true) %>
            <% end %>
          </div>
        </td>
        <td class="hidden-xs"><%= print_datetime(c.published_at, format: :date) %></td>
        <td>
          <div class="vertical text-right text-nowrap">
          <span>
            <%= print_number(c.subscriber_count) %>
          </span>
            <span>
            <%= print_diff_numbers(c.subscriber_count, c.second_latest_subscriber_count) %>
          </span>
          </div>
        </td>
        <td class="hidden-xs">
          <div class="vertical text-right text-nowrap">
          <span>
            <%= print_number(c.view_count) %>
          </span>
            <span>
            <%= print_diff_numbers(c.view_count, c.second_latest_view_count) %>
          </span>
          </div>
        </td>
        <td class="hidden-xs">
          <div class="vertical text-right text-nowrap">
          <span>
            <%= print_number(c.video_count) %>
          </span>
            <span>
            <%= print_diff_numbers(c.video_count, c.second_latest_video_count) %>
          </span>
          </div>
        </td>
        <td class="visible-lg visible-md">
          <div class="vertical text-right text-nowrap">
          <span>
            <%= print_acquired_at(c.latest_acquired_at, format: :date) %>
          </span>
            <span>
            <%= print_comparison_period(c.latest_acquired_at, c.second_latest_acquired_at) %>
          </span>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <h4><%= t('text.channel.search.not_found') %></h4>
<% end %>
