<% if channels.present? %>
  <table class='table table-bordered table-hover table-striped'>
    <thead>
    <tr>
      <th></th>
      <th>
        <%= sortable Channel.human_attribute_name(:title), 'title', remote: true %>
      </th>
      <th class="d-none d-md-table-cell">
        <%= sortable Channel.human_attribute_name(:published_at), 'published_at', remote: true %>
      </th>
      <th>
        <%= sortable ChannelStatistic.human_attribute_name(:subscriber_count), 'subscriber_count', remote: true %>
      </th>
      <th class="d-none d-md-table-cell">
        <%= sortable ChannelStatistic.human_attribute_name(:view_count), 'view_count', remote: true %>
      </th>
      <th class="d-none d-md-table-cell">
        <%= sortable ChannelStatistic.human_attribute_name(:video_count), 'video_count', remote: true %>
      </th>
      <th class="d-none d-xl-table-cell">
        <%= sortable ChannelStatistic.human_attribute_name(:created_at), 'latest_acquired_at', remote: true %>
      </th>
    </tr>
    </thead>

    <tbody>
    <% channels.each do |c| %>
      <%= render partial: 'search_result_row', locals: {channel: c} %>
    <% end %>
    </tbody>
  </table>
<% else %>
  <h4><%= t('text.channel.search.not_found') %></h4>
<% end %>
