<h3>
  <%= Channel.human_attribute_name :channel_snippets %>
</h3>

<table class='table table-bordered table-hover table-striped'>
  <thead>
    <tr>
      <th class="w-25"><%= Channel.human_attribute_name :title %></th>
      <th class="w-58"><%= Channel.human_attribute_name :description %></th>
      <th class="w-17"><%= ChannelSnippet.human_attribute_name :created_at %></th>
    </tr>
  </thead>

  <tbody>
  <% channel_snippets.each do |cs| %>
    <tr class="click-btn" data-snippet-modal-id="<%= cs.id %>">
      <td>
        <%= image_tag(cs.thumbnail_url, width: '30px') %>
        <%= cs.title %>
      </td>
      <td><%= cs.description.truncate(80) %></td>
      <td><%= print_datetime(cs.created_at) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% channel_snippets.each do |cs| %>
  <%= render 'snippet_modal', snippet: cs %>
<% end %>

<script>
  $(document).on('turbolinks:load', () => {
    $('.click-btn').on('click', event => {
      const snippet_modal_id = $(event.currentTarget).data('snippet-modal-id');
      $('.snippet-modal-box[data-snippet-modal-id=' + snippet_modal_id + ']').modal('show');
    });
  });
</script>
