<h3>
  <%= t('helpers.title.list', models: ChannelStatistic.model_name.human) %>
</h3>

<%= turbo_frame_tag 'channel-statistics' do %>
  <% if channel_statistics.present? %>
    <table class='table table-bordered table-hover table-striped'>
      <thead>
      <tr>
        <th><%= ChannelStatistic.human_attribute_name :subscriber_count %></th>
        <th><%= ChannelStatistic.human_attribute_name :view_count %></th>
        <th><%= ChannelStatistic.human_attribute_name :video_count %></th>
        <th><%= ChannelStatistic.human_attribute_name :created_at %></th>
      </tr>
      </thead>

      <tbody>
      <% channel_statistics.each do |cs| %>
        <tr>
          <td><%= tag.span print_number(cs.subscriber_count) %></td>
          <td><%= tag.span print_number(cs.view_count) %></td>
          <td><%= tag.span print_number(cs.video_count) %></td>
          <td><%= tag.span print_datetime(cs.created_at) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate channel_statistics, remote: true, param_name: 'statics_page' %>
  <% else %>
    <%= t('text.channel.statistics.missing') %>
  <% end %>
<% end %>
