<%= render partial: 'warning_auth_not_configured' %>
<% title = t('helpers.title.list', models: Channel.model_name.human.pluralize(I18n.locale)) %>
<% content_for(:html_title) {title} %>

<h1>
  <%= title %>
</h1>

<%= render partial: 'actions' %>
<%= render partial: 'search_form', locals: {search_channel: @search_channel} %>

<%= turbo_frame_tag 'search-result-frame',
                    autoscroll: true, src: @path, loading: :lazy,
                    data: {autoscroll_block: :start, autoscroll_behavior: :smooth, turbo_action: :advance} do %>
  <div id="search-result"></div>
  <div id="search-result-pagination"></div>
  <%= render partial: 'partials/loader' %>
<% end %>
