<h1>
  <%= t('helpers.title.list', models: Channel.model_name.human.pluralize(I18n.locale)) %>
</h1>

<table class='table table-bordered table-hover table-striped'>
  <thead>
  <tr>
    <th><%= Channel.human_attribute_name :title %></th>
    <th><%= Channel.human_attribute_name :title %></th>
    <th><%= Channel.human_attribute_name :description %></th>
  </tr>
  </thead>

  <tbody>
  <% @channels.each do |c| %>
    <tr>
      <td></td>
      <td><%= print_link(c.title, channel_path(c), '(チャンネル名未取得)') %></td>
      <td><%= truncate(c.description, length: 50) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.link.new'), new_channel_path %>

