<% unless SystemSetting.auth_configured? %>
  <span class="fs-3 fw-bold text-danger">
    ⚠️
    <%= t('text.system_setting.auth_not_configured_html',
          href: link_to(t('text.system_setting.auth_not_configured_href'), system_setting_path)) %>
    ⚠️
  </span>
<% end %>
<% title = t('helpers.title.list', models: Channel.model_name.human.pluralize(I18n.locale)) %>
<% content_for(:html_title) {title} %>

<h1>
  <%= title %>
</h1>

<%= render partial: 'partials/loader' %>
<%= render partial: 'actions' %>
<%= render partial: 'search_form', locals: {search_channel: @search_channel} %>

<div id="search-result">
  <%= render partial: 'search_result', locals: {channels: @channels} %>
</div>
<div id="search-result-pagination">
  <%= render partial: 'search_result_pagination', locals: {channels: @channels} %>
</div>
