<h1>
  <%= t('helpers.title.list', models: Channel.model_name.human.pluralize(I18n.locale)) %>
</h1>

<%= render partial: 'actions' %>

<% if @channels.present? %>
  <%= render partial: 'search_result', locals: {channels: @channels} %>
<% else %>
  <%= render partial: 'no_result' %>
<% end %>

<br>

<% if can? :create, Channel %>
  <%= link_to t('helpers.link.new'), new_channel_path %>
<% end %>
