<h1>
  <%= t('helpers.title.show', model: Channel.model_name.human) %>
</h1>

<%= render partial: 'partials/action' %>
<%= render partial: 'action' %>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= Channel.human_attribute_name :title %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= link_to image_tag(@channel.thumbnail_url),
                  @channel.url if @channel.thumbnail_url.present? %>
      <%= print_link(@channel.title, @channel.url, t('text.channel.title.missing')) %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= Channel.human_attribute_name :channel_id %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @channel.channel_id %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= Channel.human_attribute_name :description %>
    </div>
    <div class="col-xs-8 col-sm-10 emojify">
      <%= simple_format text_url_to_link(@channel.description) %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= Channel.human_attribute_name :thumbnail_url %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @channel.thumbnail_url %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= Channel.human_attribute_name :published_at %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= print_datetime(@channel.published_at) %>
    </div>
  </div>
</div>

<%= render 'statistics', channel_statistics: @channel.channel_statistics %>
