<p id="notice"><%= notice %></p>

<p>
  <strong>Channel:</strong>
  <%= @channel.channel_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @channel.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel.description %>
</p>

<p>
  <strong>Thumbnail url:</strong>
  <%= @channel.thumbnail_url %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
