<%= render partial: 'warning_auth_not_configured' %>
<% title = @channel.title.presence %>
<% content_for(:html_title) {title} %>

<h1>
  <%= t('helpers.title.show', model: Channel.model_name.human) %>
</h1>

<%= render partial: 'action' %>

<div class="container kinda-table">
  <div class="row">
    <div class="col-4 col-md-2 font-weight-bold">
      <%= Channel.human_attribute_name :title %>
    </div>
    <div class="col-8 col-md-10">
      <% if @channel.thumbnail_url.present? %>
        <%= link_to image_tag(@channel.thumbnail_url), @channel.url, target: '_blank', rel: 'noopener noreferrer' %>
      <% end %>
      <% if @channel.disabled? %>
        <span data-toggle="tooltip" title="<%= t('helpers.notice.channel_disabled') %>">⚠️</span>
      <% end %>
      <%= print_link(@channel.title, @channel.url, t('text.channel.title.missing'), target: '_blank', rel: 'noopener noreferrer') %>
    </div>
    <% if @channel.disabled? %>
      <div class="col-12 font-weight-bold text-danger">
        <%= t('text.channel.disabled_html') %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-4 col-md-2 font-weight-bold">
      <%= Channel.human_attribute_name :tags %>
    </div>
    <div class="channel tag-list col-8 col-md-10">
      <%= render partial: 'channels/tags/tag_list', locals: {channel: @channel} %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-md-2 font-weight-bold">
      <%= Channel.human_attribute_name :thumbnail_url %>
    </div>
    <% if @channel.thumbnail_url.present? %>
      <div class="col-2">
        <%= link_to 'Small', @channel.thumbnail_url, target: '_blank', rel: 'noopener noreferrer' %>
      </div>
      <div class="col-3" style="font-size: medium">
        <%= link_to 'Medium', @channel.medium_thumbnail_url, target: '_blank', rel: 'noopener noreferrer' %>
      </div>
      <div class="col-3" style="font-size: large">
        <%= link_to 'Large', @channel.high_thumbnail_url, target: '_blank', rel: 'noopener noreferrer' %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-4 col-md-2 font-weight-bold">
      <%= Channel.human_attribute_name :description %>
    </div>
    <div class="col-8 col-md-10 break-word-wrap">
      <%= simple_format text_url_to_link(@channel.description), {}, sanitize: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-md-2 font-weight-bold">
      <%= Channel.human_attribute_name :published_at %>
    </div>
    <div class="col-8 col-md-10">
      <%= print_datetime(@channel.published_at) %>
    </div>
  </div>
</div>

<%= turbo_frame_tag 'snippets-frame', src: channel_snippets_path(channel_id: @channel.id), loading: :lazy do %>
  <div id="search-snippets"></div>
  <%= render partial: 'partials/loader' %>
<% end %>

<%= turbo_frame_tag 'statistics-frame', src: channel_statistics_path(channel_id: @channel.id), loading: :lazy do %>
  <div id="search-statistics"></div>
  <%= render partial: 'partials/loader' %>
<% end %>
