<%= form_with(model: condition, url: channel_lists_subscriptions_path, method: :get, class: 'search',
              local: false, data: {turbo_frame: 'search-result-frame'}) do |form| %>
  <div class="container box_radius">
    <div class="row mb-3">
      <div class="col-5 col-md-3">
        <%= form.label :per %>
      </div>
      <div class="input-group col-2 col-md-2">
        <%= form.select :per, ChannelList::PER_LIST, {}, class: 'form-control form-select' %>
      </div>
    </div>
    <%= button_tag t('helpers.button.reset'),
                   type: :button, id: 'reset-search', class: 'btn btn-secondary' %>
    <%= form.submit t('helpers.submit.show'), class: 'btn btn-success', name: nil %>
  </div>
<% end %>
