<% title = t('helpers.link.create_from_subscription') %>
<% content_for(:html_title) {title} %>

<h1>
  <%= title %>
</h1>

<%= render partial: 'actions' %>
<%= render partial: 'search_form', locals: {condition: @condition} %>

<%= turbo_frame_tag 'search-result-frame', autoscroll: true, data: {autoscroll_block: :start, autoscroll_behavior: :smooth} do %>
  <div id="search-result">
    <%= render 'channels', subscription: @subscription %>
  </div>
  <div id="search-result-pagination">
    <%= render 'channels_pagination', subscription: @subscription, condition: @condition %>
  </div>
  <%= render partial: 'partials/loader' %>
<% end %>
