<%= form_with(model: condition, url: channel_lists_search_index_path, method: :get,
              class: 'search') do |form| %>
  <div class="container box_radius">
    <div class="form-group row">
      <div class="col-3 col-md-2">
        <%= form.label :query %>
      </div>
      <div class="col-8 col-md-4">
        <%= form.text_field :query, class: 'form-control', required: true %>
      </div>
      <div class="col-5 col-md-3">
        <%= form.label :per %>
      </div>
      <div class="col-2 col-md-2">
        <%= form.select :per, [5, 10, 20, 30, 50], class: 'form-control' %>
      </div>
    </div>
    <%= button_tag t('helpers.button.reset'), type: :button, id: 'reset-search',
                   class: 'btn btn-secondary' %>
    <%= form.submit t('helpers.submit.search'), class: 'btn btn-success', name: nil %>
  </div>
<% end %>
