<%= form_with(model: system_setting, local: true) do |form| %>
  <% if system_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(system_setting.errors.count, "error") %> prohibited this system_setting from being saved:</h2>

      <ul>
      <% system_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :api_key %>
    <%= form.text_field :api_key %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
