<%= form_with(url: system_setting_path, model: system_setting, local: true) do |form| %>
  <% if system_setting.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% system_setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="form-group">
        <div class="col-xs-4 col-sm-4">
          <%= form.label :auth_method %>
        </div>
        <div class="col-xs-8 col-sm-8">
          <div class="row">
            <div class="auth-methods">
              <%= form.collection_radio_buttons :auth_method, SystemSetting.auth_methods_i18n_without_nothing, :first, :last do |b| %>
                <div class="col-xs-6 col-sm-6 col-md-3">
                  <%= b.radio_button %>
                  <%= b.label %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="api_key auth-field">
      <div class="row">
        <div class="form-group">
          <div class="col-xs-4 col-sm-4">
            <%= form.label :api_key %>
          </div>
          <div class="col-xs-8 col-sm-8">
            <%= form.text_field :api_key, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>

    <div class="oauth2 auth-field">
      <div class="row">
        <div class="form-group">
          <div class="col-xs-4 col-sm-4">
            <%= form.label :client_id %>
          </div>
          <div class="col-xs-8 col-sm-8">
            <%= form.text_field :client_id, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-xs-4 col-sm-4">
            <%= form.label :client_secret %>
          </div>
          <div class="col-xs-8 col-sm-8">
            <% if system_setting.client_secret.present? %>
              <a href="javascript:void(0);" class="change-client-secret">
                <%= t('text.system_setting.change_client_secret') %>
              </a>
              <%= form.password_field :client_secret, class: 'form-control', style: "display: none" %>
          <% else %>
              <%= form.password_field :client_secret, class: 'form-control' %>
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>
  $(document).on('turbolinks:load', (function () {
    $('.auth-methods input[type="radio"]').change(function () {
      SystemSetting.toggle_auth_method($(this));
    }).change();
    $('.change-client-secret').click(function () {
      SystemSetting.change_password($(this));
    });
  }));
</script>
