<% title = t('helpers.title.show', model: SystemSetting.model_name.human) %>
<% content_for(:html_title) {title} %>

<h1>
  <%= title %>
</h1>

<%= link_to t('helpers.link.edit'), {controller: controller.controller_name, action: :edit},
            class: 'btn btn-info', role: :button %>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-4 font-weight-bold">
      <%= SystemSetting.human_attribute_name :auth_method %>
    </div>
    <div class="col-xs-8 col-sm-8">
      <%= @system_setting.auth_method_i18n %>
    </div>
  </div>
  <% case @system_setting.auth_method.to_sym %>
  <% when :api_key %>
    <div class="row">
      <div class="col-xs-4 col-sm-4 font-weight-bold">
        <%= SystemSetting.human_attribute_name :api_key %>
      </div>
      <div class="col-xs-8 col-sm-8">
        <%= @system_setting.api_key %>
      </div>
    </div>
  <% when :oauth2 %>
    <div class="row">
      <div class="col-xs-4 col-sm-4 font-weight-bold">
        <%= SystemSetting.human_attribute_name :client_id %>
      </div>
      <div class="col-xs-8 col-sm-8">
        <%= @system_setting.client_id %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 font-weight-bold">
        <%= SystemSetting.human_attribute_name :client_secret %>
      </div>
      <div class="col-xs-8 col-sm-8">
        <%= '********' if @system_setting.client_secret.present? %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 font-weight-bold">
        <%= t('text.system_setting.oauth2_setting') %>
      </div>
      <div class="col-xs-8 col-sm-8">
        <% if @system_setting.oauth2_configured? %>
          <%= t('text.system_setting.oauth2_setting_configured.true') %>
        <% else %>
          <%= t('text.system_setting.oauth2_setting_configured.false') %>
          <div class="oauth2-authorize-url">
            <%= button_to t('helpers.link.oauth2_setting'), oauth2_authorize_system_setting_path,
                        method: :put, remote: true, class: 'btn btn-success',
                        role: :button, data: {disable_with: t('helpers.notice.processing')} %>
          </div>
        <% end %>
      </div>
    </div>
  <% when :nothing %>
    <div class="row">
      <span class="col-xs-8 col-sm-10 alert alert-danger font-weight-bold">
        <%= t('text.system_setting.missing_auth_method') %>
      </span>
    </div>
  <% end %>
</div>
