<div class="fixed-top navigation-header navigation-header-light">
  <%= render partial: 'partials/locale' %>
  <div class="container">
    <div class="row text-center bg-primary header">
      <div class="col-4 col-lg-2">
        <%= link_to t('text.top.top_page'), root_path %>
      </div>
      <% if can? :manage, SystemSetting %>
        <div class="col-4 col-lg-2">
          <%= link_to SystemSetting.model_name.human, system_setting_path %>
        </div>
      <% end %>
      <% if user_signed_in? && current_user.admin? %>
        <div class="col-4 col-lg-2">
          <%= link_to 'Resque', '/resque/overview', target: '_blank', rel: 'noopener' %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="col-4 col-lg-2">
          <%= current_user.email %>
        </div>
        <div class="col-4 col-lg-2">
          <%= link_to t('text.devise.sign_out'), destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="col-4 col-lg-2">
          <%= link_to t('text.devise.sign_in'), new_user_session_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
