<!DOCTYPE html>
<html>
<head>
  <% html_title = content_for?(:html_title) ? yield(:html_title) : nil %>
  <title><%= [html_title, 'YouTubeApiTrial'].compact.join(' - ') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<%= tag.body class: [dark_mode: cookies['dark_mode'] == 'isActive'], data: {locale: I18n.locale} do %>
  <%= render partial: 'partials/menu' %>
  <div class="container">
    <%= render_notices %>
    <%= yield %>
  </div>
  <button class="dark-mode-toggle">🌓</button>
<% end %>
</html>
