<!DOCTYPE html>
<html>
<head>
  <% html_title = content_for?(:html_title) ? yield(:html_title) : nil %>
  <title><%= [html_title, 'YoutubeApiTrial'].compact.join(' - ') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_packs_with_chunks_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= favicon_pack_tag 'favicon.ico' %>
</head>

<body class="<%= 'dark_mode' if cookies['dark_mode'] == 'isActive' %>" data-locale="<%= I18n.locale %>">
<%= render partial: 'partials/menu' %>
<div class="container">
  <%= render_notices %>
  <%= yield %>
</div>
<button class="dark-mode-toggle">🌓</button>
</body>
</html>
